<main>  
    <div class="gallery-container">
      
      <div class="img-block-top">
        <div class="img-wrap img-tran">
          <p>Our products were built with comfort in mind!<br><span class="joke">(...you'll be as comfy as a baby alpacca swaddled in a blankey!)</span></p>
          <img class="top-img" src="/1.jpg" alt="Person holding a baby alpaca, wrapped in a brightly-colored blanket (Photo by Rodolfo Clix from Pexels.com).">
        </div>
        
        <div class="img-wrap img-tran">
          <p>Our products should be hand-washed, and dry-cleaned only!<br><span class="joke">(...just like our alpacas!)</span></p>
          <img class="top-img" src="/2.jpg" alt="Close-up on head of a brown, fuzzy aplaca (photo by Magda Ehlers from Pexels.com).">
        </div>
      </div>

      <div class="img-block-middle">
        <div class="img-wrap-outer img-tran">
          <p>Our materials are 80% alpaca & 20% cotton!<br><span class="joke">(...we try to keep our alpaca's out of the Gossypium Fields, but they just keep hopping the fence!)</span></p>
          <img class="outer-img" src="/m1.jpg" alt="An alpaca standing in a beautiful mountain vista (photo by Trace Hudson from Pexels.com).">
        </div>
        
        <div class="img-wrap-center img-tran">
          <p>Every item we make is constructed with love and care in Japan!<br><span class="joke">(...our joke team had nothing clever to say here, because even they know there's nothing funny about love!)</p>
          <img class="center-img" src="/m2.jpg" alt="A woman in a white shirt gets a smooch from an alpaca (photo by Taryn Elliott from Pexels.com).">
        </div>
        
        <div class="img-wrap-outer img-tran">
          <p>Our products were designed to repel odors!<br><span class="joke">(...so you can stay smelling like a fresh mountaintop breeze!)</span></p>
          <img class="outer-img" src="/m3.jpg" alt="A brown alpaca on a high hill (photo by Alex Azabache from Pexels.com).">
        </div>
      </div>

      <div class="img-block-bottom">
        <div class="img-wrap img-tran">
          <p>Our products are 100% organic!<br><span class="joke">(...no synthetic alpacas here!)</span></p>
          <img class="bottom-img" src="/3.jpg" alt="Two alpacas staring deeply into the camera lens (photo by E M from Pexels.com).">
        </div>
        
        <div class="img-wrap img-tran">
          <p>This is "Bob". Bob doesn't know he isn't a sheep.<br><span class="joke">(...but he still approves of our products!)</span></p>
          <img class="bottom-img" src="/4.jpg" alt="Definitely 'not a sheep' wearing a rainbow scarf...Its an alpaca. Yes, most definitely. (Photo by Traveling Inka from Pexels).">
        </div>
      </div>
      
    </div>
  </main>