.nav-wrapper {
  padding: 0 2rem;
}
.z-depth-4 {
  padding: 2rem;
}
.content_notebook {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex-grow: 1;
}
.price {
  font-size: 2rem;
}
.notebook {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notebook h1 {
  text-align: center;
}

.notebook img {
  max-width: 800px;
  height: auto;
}
.notebook .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-action form {
  margin-top: 10px;
}

.bascket {
  padding: 40px;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

.auth {
  padding-top: 1rem;
}
.alert {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  color: #fff;
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
.avatar{
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
}
.panel {
  display: flex;
  width: 45rem;
  max-height: auto;
  background: white;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#inside-panel {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0rem;
  background: linear-gradient(45deg, #f15156, #ffcf99);
  padding: 0.5rem;
  border: none;
  margin: 0.5rem;
}

.gradient-border {
  width: 100%;
  height: 100%;
  margin: 0;
  background: white;
  padding: 1rem;
}

hr {
  margin: auto;
  height: auto;
  width: 60%;
}

h2 {
  margin: 0;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0rem;
  height: auto;
  padding: 0rem;
  padding-bottom: 2rem;
  text-align: left;
  margin-right: 1rem;
  letter-spacing: 1px;
}

#title {
  padding-left: 4.5rem;
}

#age {
  padding-left: 5rem;
}

#hometown {
  padding-left: 1.5rem;
}

#website {
  padding-left: 3rem;
}

.gradient img {
  margin: 0;
  margin-top: 2rem;
  height: 250px;
  box-shadow: 12px 12px 5px 1px #726e60;
}

@media (max-width: 780px) {
  .panel {
    width: 65%;
  }

  ul {
    flex-shrink: 1;
    padding-left: 6rem;
    font-size: 0.85rem;
  }
}
main {
  background-color: white;
}

.header-para {
  display: flex;
  font-size: 13.5px;
  opacity: 0.5;
  justify-content: center;
  padding: 0 0 25px;
}

.header-para div {
  width: 25%;
}

.header-para p {
  width: auto;
}
a,
a:hover,
a:visited {
  color: inherit;
}
/* Changed the fontstyle to ilaics, rather than the "font-weight: bold" property because I couldn't remove the column-shift that kept occuring while on hover. I tried adopting the following method, but was unsuccessful in implementing it; reference: https://css-tricks.com/bold-on-hover-without-the-layout-shift/ */
footer a:hover {
  font-style: italic;
}

button a:hover {
  font-weight: 700;
}

/* I understand that "display: flex" and "position: absolute" are not usually put together. However, the absolute positioning was necessary in order to keep the text properly positioned within their relative-positioned parent container("img-tran"). This caused problems with center the flexbox, as the asbolute positioning was voiding all flexbox properties; however, I managed to find a way of centering it using "align-self: center" property. For reference, this is the source that aided in bringing me to this conclusion: https://chenhuijing.com/blog/flexbox-and-absolute-positioning/  */
.img-tran p {
  align-self: center;
  display: flex;
  color: rgba(0, 0, 0, 0.85);
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  opacity: 0;
  position: absolute;
  width: 75%;
  z-index: 0;
}

.joke {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.85rem;
  font-weight: 500;
  padding: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.learn-more-btn {
  background-color: rgba(50, 125, 175, 0.75);
  /* 
  background-color: #2F91FB; 
  border-radius: 25px;
  */
  border: none;
  color: white;
  font-size: 25px;
  margin: 25px 0 75px;
  padding: 10px 20px;
}

/* ------- FOOTER ELEMENTS ------- */
footer {
  display: block;
  background-color: rgb(105, 105, 105);
}

.footer-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 1fr;
  justify-content: center;
}

.info-column {
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 45px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li a {
  letter-spacing: 0.05rem;
  min-width: 90px;
}

footer li:nth-child(1) {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-transform: uppercase;
}

/* ------- IMAGES IN MAIN CONTENT ------- */
.gallery-container {
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 290px 1fr 290px;
  margin: auto;
  max-width: 1100px;
  padding: 10px;
}

img {
  max-height: 490px;
  max-width: 500px;
  object-fit: cover;
  padding: 10px;
}

.img-block-top,
.img-block-middle,
.img-block-bottom {
  display: flex;
  justify-content: center;
  display: flex;
}

.img-tran {
  display: flex;
  justify-content: center;
  object-fit: cover;
  position: relative;
}

.img-wrap {
  max-height: 290px;
  max-width: 580px;
  width: 50%;
}

.img-wrap-center {
  width: 40%;
}

.img-wrap-outer {
  width: 30%;
}

.top-img,
.bottom-img {
  max-height: 290px;
  max-width: 580px;
  width: 100%;
}

.center-img,
.outer-img {
  width: 100%;
}

main img:hover {
  filter: blur(1.5px);
  padding: 3px;
}
.img-tran:hover p {
  opacity: 1;
}

.img-tran * {
  transition: all 0.45s ease;
}

.img-tran:hover img {
  opacity: 0.5;
}
